/* Encarts publicitaires */
.pub { clear: both; text-align: center; }
.pub h2 { display: none; }
.pub a.nopub { display: block; font-size: .9em; color: #777; margin-bottom: 5px; }

@media (max-width: 640px) {
	.pub { display: none; }
}

@media print {
	.pub { display: none; }
}