<plugin>
	<nom>Fair pub</nom>
	<prefix>fairpub</prefix>
	<icon>icon/fairpub.png</icon>

	<version>0.1.0</version>
	<etat>stable</etat>
	<categorie>divers</categorie>

	<slogan>Pas de pub s'il vous pla&icirc;t !</slogan>
	<description>Inserer une publicit&eacute; qui respecte l'utilisateur :
	- uniquement si il vient d'un moteur de recherche
	- si il n'est pas identifié
	Un lien "Pas de pub s'il vous pla&icirc;t !" permet de desactiver la publicit&eacute; pour ne plus la voir.</description>
	<auteur>Cedric</auteur>
	<auteur>Sur une idée de romy.tetue.net</auteur>

	<options>fairpub_options.php</options>
	<fonctions>fairpub_fonctions.php</fonctions>
	<necessite id="SPIP" version="[1.9.1;3.0.99]" />
</plugin>